#filters
  %h2 Projects
  %ul.projects-types
    %li.active
      %input#type-active.toggle-by-type{ type: 'radio', name: 'projectType', checked: true, data:{ type: 'active' }}
      %label{ for: 'type-active' } Active
    %li.potential
      %input#type-potential.toggle-by-type{ type: 'radio', name: 'projectType', data:{ type: 'potential' }}
      %label{ for: 'type-potential'} Potential
    %li.archived
      %input#type-archived.toggle-by-type{ type: 'radio', name: 'projectType', data:{ type: 'archived' }}
      %label{ for: 'type-archived'} Archived
  .filters
    .filter.roles
      %input{ type: 'text', name: 'roles', placeholder: 'Filter roles...' }
    .filter.projects
      %input{ type: 'text', name: 'projects', placeholder: 'Filter projects...' }
    .filter.users
      %input{ type: 'text', name: 'users', placeholder: 'Filter users...' }
  .checkboxes
    .checkbox
      %label
        %input#highlight-ending{ type: 'checkbox' } Highlight ending
    .checkbox
      %label
        %input#show-next{ type: 'checkbox' } Show next
    .checkbox
      %label
        %input#highlight-not-billable{ type: 'checkbox' } Highlight not billable

#projects-users

#edit-membership-popups
