#filters
  %h2 Projects
  %ul.projects-types
    %li.active
      %input#type-active.toggle-by-type{ type: 'radio', name: 'projectType', checked: true, data:{ type: 'active' }}
      %label{ for: 'type-active' } Active
    %li.internal
      %input#type-internal.toggle-by-type{ type: 'radio', name: 'projectType', data:{ type: 'internal' }}
      %label{ for: 'type-internal'} Internal
    %li.potential
      %input#type-potential.toggle-by-type{ type: 'radio', name: 'projectType', data:{ type: 'potential' }}
      %label{ for: 'type-potential'} Potential
    %li.archived
      %input#type-archived.toggle-by-type{ type: 'radio', name: 'projectType', data:{ type: 'archived' }}
      %label{ for: 'type-archived'} Archived
  .checkboxes
    .checkbox.info-left{title: 'People leaving the project soon are highlighted red.'}
      %label
        %input#highlight-ending{ type: 'checkbox' } Highlight ending
    .checkbox.info-left{title: 'People joining the project soon are highlighted green.'}
      %label
        %input#show-next{ type: 'checkbox' } Show next
    .checkbox.info-left{title: 'People for whom the Client does not pay are marked with "!".'}
      %label
        %input#highlight-not-billable{ type: 'checkbox' } Highlight not billable
  .filters
    .roles
      %input{ type: 'text', name: 'roles', placeholder: 'Filter roles...' }
    .projects
      %input{ type: 'text', name: 'projects', placeholder: 'Filter projects...' }

#projects-users

#edit-membership-popups
