- if current_user.admin? && current_user.refresh_token.present?
  = link_to 'Import vacations from Google Calendar', import_user_vacation_path(current_user),
    class: "button btn btn-default"

- if vacations.present?
  = render 'row'
- else
  %h2 No vacations

- unless current_user.vacation.present?
  = link_to 'New Vacation', new_user_vacation_path(current_user), class: "btn btn-primary"

