@mixin highlight_ending_item( $number ) {
  @for $i from 0 through $number {
    $red-ending: lighten($left-time-red, $i/2);

    .left-#{$i} {
      background-color: $red-ending;
      td { background-color: transparent; }

      .to_end {
        .number_days {
          background-color: white;
          color: $red-ending;
        }
        p { color: white; }
      }

      &:hover {
        background-color: $gray-background;
        td {
          background-color: transparent;
          a { color: $link; &:hover { color: $link-hover } }
          i { color: black; &:hover { color: $left-time-red } }
        }

        .to_end {
          .number_days {
            background-color: $red-ending;
            color: white;
            font-weight: 300;
          }
          p { color: $red-ending; }
        }
      }

      @if $i < 70 {
        td {
          a { color: white; }
          i { color: white; }
        }
      }
    }
  }
}
