//
// Presentional classes
// --------------------------------------------------

.border-right { border-right: 1px solid $gray-light; }

// Backgrounds
// --------------------------------------------------

.violet-background { background: $violet; }
.yellow-background { background: $yellow; }
.green-background { background: $green; }
.blue-background { background: $blue; }
.brand-primary-background { background: $brand-primary; }
