.row
  .col-md-12
    %h1 Components
    %hr

.row
  .col-md-12
    %h2 Dropdowns
    .dropdown
      %button.btn.btn-default.dropdown-toggle.btn-primary{ href: '#', role: 'button', data: { toggle: 'dropdown', target: '#' } }
        dropdown button
        %b.caret
      %ul.dropdown-menu{ role: 'menu' }
        %li
          %a{ href: '#' }
            Dropdown #1
        %li
          %a{ href: '#' }
            Dropdown #2
        %li
          %a{ href: '#' }
            Dropdown #3
        %li
          %a{ href: '#' }
            Dropdown #4
    %hr

.row
  .col-md-12
    %h2 Buttons group
    .btn-group
      %button.btn.btn-default{ type: 'button' } button
      %button.btn.btn-default{ type: 'button' } button
      %button.btn.btn-default{ type: 'button' } button
  %hr

.row
  .col-md-12
    %h2 Input groups
  .col-md-6
    .input-group
      %span.input-group-addon
        %input{ type: 'checkbox' }
      %input.form-control{ type: 'text', placeholder: 'placeholder' }
  .col-md-6
    .input-group
      %span.input-group-addon
        %input{ type: 'radio' }
      %input.form-control{ type: 'text', placeholder: 'placeholder' }
  %hr

.row
  .col-md-12
    %h2 Tabs
    %ul.nav.nav-tabs{ role: 'tablist' }
      %li.active
        %a{ href: '#', role: 'tab', data: { toggle: 'tab'} }
          people
          %span.badge 15
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab'} }
          team
          %span.badge 7
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab'} }
          projects
          %span.badge 12

    .tab-content
      .tab-pane.active
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, pariatur?
      .tab-pane
        Lorem ipsum dolor sit amet.
      .tab-pane
        Lorem ipsum dolor sit amet, consectetur.

    %h3 Tab dropdown
    %ul.nav.nav-tabs{ role: 'tablist' }
      %li.dropdown
        %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
          people
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          %li
            %a{ href: '#' }item 1
          %li
            %a{ href: '#' }item 2
          %li
            %a{ href: '#' }item 3
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab' } } team
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab' } } projects
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab' } } projects

    %h3 Tab justified
    %ul.nav.nav-tabs.nav-justified{ role: 'tablist' }
      %li.active
        %a{ href: '#', role: 'tab', data: { toggle: 'tab' } } people
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab' } } team
      %li
        %a{ href: '#', role: 'tab', data: { toggle: 'tab' } } projects
    %hr

.row
  .col-md-6
    %h2 Labels
    %h3
      example text
      %span.label.label-default
        text
    %h4
      example text
      %a.label.label-default
        text
    %h5
      example text
      %a.label.label-default
        text
    %h6
      example text
      %a.label.label-default
        text

  .col-md-6
    %h3
      wykonane projekty
      %span.label.label-primary
        primary label
    %h3
      Lorem ipsum dolor sit amet.
      %a.label.label-success
        success label
    %h3
      example text
      %a.label.label-info
        info label
    %h3
      Lorem ipsum.
      %a.label.label-warning
        warning label
    %h3
      example text
      %a.label.label-danger
        danger label
  .col-md-12
    %hr

.row
  .col-md-12
    %h2 Badges
  .col-md-2
    %a{ href: '#' }
      link
    %span.badge
      24
  .col-md-2
    %a{ href: '#' }
      link
    %span.badge
      58
  .col-md-12
    %hr

.row
  .col-md-12
    %h2 Modal
    %button.btn.btn-primary{ data: { toggle: 'modal', target: '.modal-lg' } } Large modal
    %hr
.modal.fade.modal-lg{ tabindex: '-1', role: 'dialog', aria: { labelledby: 'myModal', hidden: 'true' } }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
        %h4.modal-title My modal
      .modal-body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quia iste alias velit, expedita consequatur.
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } close
        %button.btn.btn-primary{ type: 'button' } Save changes

.row
  .col-md-12
    %h2 Custom Components
    %hr
    %h2 User card
  .col-md-3
    .user-card
      .user-card-header.row
        .col-md-3
          %img.user-card-avatar{ src: '', alt: 'user-card-avatar' }
        .col-md-9
          .user-card-name Agnieszka Amborska
          %span.label.user-card-profession
            Senior Developer

      .user-card-content
        .user-card-times.row
          .col-md-6.text-center.border-right
            .user-card-available
              %strong 27.08.2014
              .uppercase-heading available

          .col-md-6.text-center
            .user-card-hours
              %strong 168h
              .uppercase-heading hours

        .user-card-projects.row
          .col-md-12
            %p.uppercase-heading last projects
            %ul.user-card-projects-list
              %li
                %span.intro.violet-background PL
                %strong
                  People
                (3 months)
              %li
                %span.intro.yellow-background CS
                %strong
                  CitySocializer
                (11 months)
              %li
                %span.intro.brand-primary-background NG
                %strong
                  Netguru.co
                (2 months)
              %li
                %span.intro.green-background IS
                %strong
                  iSensor
                (4 months)
              %li
                %span.intro.blue-background RM
                %strong
                  Rate My Area
                (1 week)

        .user-card-skills.row
          .col-md-12
            %p.uppercase-heading skills
            %span.label.label-skill Ruby
            %span.label.label-skill Rails
            %span.label.label-skill Backbone

        %a.user-card-download-link{ href: '' }
          %span.user-card-download
            %span.glyphicon.glyphicon-file
            %p Download profile

      .user-card-current-project.row
        .col-md-12
          current project
          %a{ href: '' } People

  .col-md-12
    %hr

.row
  .col-md-12
    %h2 Search in navbar
    %hr

.container-fluid
  %nav.navbar.navbar-default{ role: 'navigation' }
    .navbar-header
      .col-md-2
        %form.navbar-form{ role: 'search' }
          .input-group
            %input.form-control.navbar-search-input{ type: 'text', placeholder: 'search' }
            %span.input-group-btn
              %button.btn.navbar-search-button{ type: 'submit' }
                %span.glyphicon.glyphicon-search


