.row
  .col-md-12
    %h1 h1. Lorem ipsum dolor sit amet
    %h2 h2. Lorem ipsum dolor sit amet
    %h3 h3. Lorem ipsum dolor sit amet
    %h4 h4. Lorem ipsum dolor sit amet
    %h5 h5. Lorem ipsum dolor sit amet
    %h6 h6. Lorem ipsum dolor sit amet
    %hr

.row
  .col-md-12
    %p.lead This is lead
    %p This is simply paragraph
    %p
      This is paragraph with
      %mark mark

    %del This line of text is meant to be treated as deleted text.
    %br
    %u This line of text will render as underlined
    %br
    %small This is small
    %br
    %strong This is bold
    %br
    %em rendered as italicized text
    %br
    %blockquote
      %p Lorem ipsum dolor sit amet.
      %footer
        Someone famous in
        %cite Source Title
    %p
      For example,
      %code &lt;section&gt;
      should be wrapped as inline.

    %pre &lt;p&gt;Sample text here...&lt;/p&gt;
    %p
      To switch directories, type
      %kbd cd
      followed by the name of the directory.
      to edit settings, press
      %kbd ctrl +,

    %hr

.row
  .col-md-12
    %a link
    %hr

.row
  .col-md-12
    %ul
      %li lorem
      %li lorem
      %li lorem
      %li lorem
    %hr

    %ol
      %li lorem
      %li lorem
      %li lorem
      %li lorem
    %hr

.row
  .col-md-12
    %table.table.table-striped
      %tbody
        %tr.active
          %td lorem
          %td lorem
          %td lorem
        %tr.success
          %td lorem
          %td lorem
          %td lorem
        %tr.info
          %td lorem
          %td lorem
          %td lorem
        %tr.warning
          %td lorem
          %td lorem
          %td lorem
        %tr.danger
          %td lorem
          %td lorem
          %td lorem
        %tr
          %td lorem
          %td lorem
          %td lorem
    %hr

.row
  .col-md-3
    %input.form-control{ type: 'text', placeholder: 'input' }

  .col-md-3
    %select.form-control
      %option{ value: '1' } select 1
      %option{ value: '2' } select 2
      %option{ value: '3' } select 3

  .col-md-3
    %textarea.form-control{ name: '', cols: '30', rows: '1', placeholder: 'textarea' }

  .col-md-3
    %input.btn.btn-primary{ type: 'submit', value: 'submit' }

  .col-md-3
    .checkbox
      %label
        %input{ type: 'checkbox' }
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, nostrum.

  .col-md-3
    .checkbox
      %label
        %input{ type: 'checkbox'}
        %p Lorem ipsum dolor sit amet.

  .col-md-3
    .radio
      %label
        %input{ type: 'radio' }
        %p Lorem ipsum dolor.

  .col-md-3
    .radio
      %label
        %input{ type: 'radio' }
        %p Lorem ipsum dolor.
  %hr

.row
  .col-md-12
    %button.btn.btn-default default
    %button.btn.btn-primary primary
    %button.btn.btn-success success
    %button.btn.btn-info info
    %button.btn.btn-warning warning
    %button.btn.btn-danger danger
