%h1 Css
%h2 h2
%h3 h3
%h4 h4
%h5 h5
%h6 h6

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ab.

%ul
  %li lorem
  %li lorem
  %li lorem
  %li lorem

%ol
  %li lorem
  %li lorem
  %li lorem
  %li lorem

%table
  %tbody
    %tr
      %td lorem
      %td lorem
      %td lorem
    %tr
      %td lorem
      %td lorem
      %td lorem

%input{:type => "text", :placeholder => "placholder"}/

%select
  %option{:value => "1"}1
  %option{:value => "2"}2
  %option{:value => "3"}3

%textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "placholder" }
%input{:type => "submit", :value => "submit"}/
%button accept
