- case project.project_type
- when 'regular'
  %div
    Regular
- when 'maintenance_development'
  %div
    .glyphicon.glyphicon-wrench
    Maintenance development
- when 'maintenance_support'
  %div
    .glyphicon.glyphicon-leaf
    Maintenance support
