.timeline-topic
  %center
    .top
      .glyphicon.glyphicon-time
      .project-name
        - if current_user.admin?
          = link_to project.name, edit_project_path(project)
        - else
          = project.name
    .bottom
      %i timeline of related users
  .pull-right
    = render 'maintenance_tags'
.timeline
