.row
  .col-sm-8.col-sm-offset-2
    - if abilities.present?
      %table.table.table-striped.table-hover
        %thead
          %th Name
          %th
        %tbody
          - abilities.each do |ability|
            %tr
              %td= ability.name
              %td
                = link_to 'Edit', edit_ability_path(ability), class: 'btn btn-xs btn-default'
                = link_to 'Delete', ability, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
    - else
      %h2 No abilities

    = link_to 'New ability', new_ability_path, class: 'btn btn-primary'
