$left-time-red: #A81C1A;
$start-time-green: #20A81A;
$admin-checkbox: #F6FAC4;
$gray-background: #e7e7e7;
$gray-project: rgb(243, 243, 243);
$archived-project: #B8B8B8;
$potential-project: #A9ACFC;
$link: #428bca;
$link-hover: #2a6496;
$success: #5cb85c;
