//== Colors

$brand-secondary:    #343e4e;
$navbar-text:        #abb3bb;
$left-time-red:      #a81c1a;
$start-time-green:   #20a81a;
$admin-checkbox:     #f6fac4;
$gray-background:    #e7e7e7;
$gray-project:       #f3f3f3;
$archived-project:   #b8b8b8;
$potential-project:  #a9acfc;
$link:               #428bca;
$link-hover:         #2a6496;
$success:            #5cb85c;
