#filters
  .filters
    .availability_time
      %select{ name: 'availability_time', placeholder: 'Only show users available in...'}

%table.table.table-striped.table-hover#available_users
  %thead
    %th
    %th
      %p.columnName User
      .sort
        .up.glyphicon.glyphicon-chevron-up{ data: { sort: 'name' } }
        .down.glyphicon.glyphicon-chevron-down{ data: { sort: 'name' } }
    %th Role
    %th
      %p.columnName
        Available
        .sort
          .up.glyphicon.glyphicon-chevron-up.active.default{ data: { sort: 'daysToEndMembership' } }
          .down.glyphicon.glyphicon-chevron-down{ data: { sort: 'daysToEndMembership' } }
    %th Current project
    %th Next Projects
    %th Booked
    %th Notes

= render partial: 'user_notes'
