#filters
  .filters
    .availability-time
      %select{ name: 'availability_time', placeholder: 'Only show users available in…'}
    .roles
      %input{ type: 'text', name: 'roles', placeholder: 'Filter roles…' }
    .abilities
      %input{ type: 'text', name: 'abilities', placeholder: 'Filter abilities…' }

%table.table.table-striped.table-hover#available_users.available-users
  %thead
    %th
      %p.column-name User
      .sort
        .up.glyphicon.glyphicon-chevron-up{ data: { sort: 'name' } }
        .down.glyphicon.glyphicon-chevron-down{ data: { sort: 'name' } }
    %th
      %p.column-name Role
      .sort
        .up.glyphicon.glyphicon-chevron-up{ data: { sort: 'role_name' } }
        .down.glyphicon.glyphicon-chevron-down{ data: { sort: 'role_name' } }
    %th
      %p.column-name
        Available
        .sort
          .up.glyphicon.glyphicon-chevron-up.active.default{ data: { sort: 'available_since' } }
          .down.glyphicon.glyphicon-chevron-down{ data: { sort: 'available_since' } }
    %th Current project
    %th Next Projects
    %th Booked
    %th Notes

= render partial: 'user_notes'
