//
// User
// --------------------------------------------------

.user-card {
  border-radius: $border-radius-large;
  border: 1px solid $gray-light;
  overflow: hidden;
  > div {
    border-top: 1px solid $gray-light;
  }
  &-header{
    padding: $half-gutter-width;
  }
  &-avatar {
    @include circle(64px);
    float: left;
  }
  &-name {
    margin-top: $half-gutter-width / 2;
    font-size: $font-size-large;
    font-weight: bold;
  }
  &-profession {
    background: $brand-primary;
  }
  &-times {
    padding: $half-gutter-width;
  }
  &-projects {
    padding: $half-gutter-width;
  }
  &-skills {
    padding: $half-gutter-width;
  }
  .label-skill {
    margin-top: $half-gutter-width;
    background: $gray-light;
  }
  &-projects-list {
    margin: $half-gutter-width / 2 0 0;
    padding: 0;
    li {
      list-style: none;
      line-height: $line-height-computed + 5px;
    }
  }
  .label-project {
    margin-right: $half-gutter-width / 2;
    padding: $half-gutter-width / 2;
    border-radius: 0;
    background: $gray-light;
  }
  &-current-project {
    padding: $half-gutter-width;
    color: $white;
    background: $gray-light;
    a {
      color: $white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
