body.available_users {
  &.index {

    .availability-time,
    .abilities {
      display: inline-block;
      margin-right: 15px;
    }

    #main-container{
      width: 100%;
    }

    .employment-container {
      display: table-cell;

      .input-group-addon,
      .employment {
        margin: 0;
        float: left;
      }

      .input-group-addon p {
        padding: 3px 0 3px 0;
        margin: 0 0 0 -6px;
      }
    }
  }
}

.available-users.table {
  th {
    padding: 15px;
    vertical-align: top;
    border-bottom: 0 none;
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: lighten($gray-lighter, 3%);
    }
  }

  td {
    padding: 15px;
    border: 1px solid $table-border-color;
    border-left: 0 none;
    border-right: 0 none;

    &:first-child {
      border-left: 1px solid $table-border-color;
    }

    &:last-child {
      border-right: 1px solid $table-border-color;
    }
  }

  a {
    color: darken($gray, 10%);
  }

  input {
    &.employment {
      width: 80px;
    }
  }

  .avatar {
    @include size(40px, 40px);
    display: inline-block;
    overflow: hidden;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 40px;
  }

  .profile {
    display: inline-block;
    vertical-align: middle;

    .name {
      font-size: 14px;
      font-weight: bold;
    }

    .icons {
      display: none;
    }
  }

  .column-name {
    float: left;
    margin: 0 10px 0 0;
  }

  .sort {
    float: left;

    .down {
      margin-left: -1px;
    }

    .up,
    .down {
      display: block;

      &:hover {
        color: $gray;
        cursor: pointer;
      }

      &.active {
        color: $blue;
        cursor: default;
      }
    }
  }
}
