body.available_users {
  &.index {
    #main-container{
      width: 100%;
    }

    table#available_users {
      a {
        text-decoration: none;
        i {
          color: black;
          &:hover { color: $gray-light; }
        }
      }

      input {
        &.employment { width: 80px; }
      }

      i.potential { color: #D8A31D; }
      i.notbillable { color: #D81D1D; }
    }

    .employment-container {
      display: table-cell;

      .input-group-addon, .employment {
        margin: 0;
        float: left;
      }

      .input-group-addon p {
        padding: 3px 0 3px 0;
        margin: 0 0 0 -6px;
      }
    }
    .container {
      .col-md-3 {
        min-height: 480px;
        .user {
          border: 1px solid #000;
          margin: 20px;
        }
        .name, .available_since, .link_to_cv, .last_projects, .potential_projects, .current_project, .hours {
          border-top: 1px solid #000;
          padding: 5px;
        }
      }
    }
  }
}
