body.available_users {
  &.index {

    .availability_time,
    .abilities {
      display: table-cell;
    }

    #main-container{
      width: 100%;
    }

    table#available_users {
      a {
        text-decoration: none;
        i {
          color: black;
          &:hover { color: $gray-light; }
        }
      }

      input {
        &.employment { width: 80px; }
      }

      i.potential { color: #D8A31D; }
      i.notbillable { color: #D81D1D; }

      p.columnName {
        float: left;
        margin: 5px 5px 0px 5px;
      }

      .sort {
        float: left;

        .down {
          margin-left: -1px;
        }

        .up, .down {
          display: block;
          &:hover {
            color: gray;
            cursor: pointer;
          }

          &.active {
            color: blue;
            cursor: default;
          }
        }
      }
    }

    .employment-container {
      display: table-cell;

      .input-group-addon, .employment {
        margin: 0;
        float: left;
      }

      .input-group-addon p {
        padding: 3px 0 3px 0;
        margin: 0 0 0 -6px;
      }
    }
  }
}
