body.dashboard {
  &.index {
    #main-container{
      width: 100%;
    }

    .editPopup {
      display: none;
    }
  }
}

.modal-dialog {
  position: absolute !important;
  left: 50%;
  margin-left: -300px;
  z-index: 1050;

  .form-group.date {
    display: inline-block;
    width: 45%;
  }

  .checkbox {
    text-align: left;

    label {
      text-align: left;
    }
  }
}

.new-membership {
  margin: 8px 0;
  float: left;
  text-align: center;
  width: 85px;

  .selectize-control {
    line-height: 13px;
  }

  .selectize-input {
    @include box-shadow(none);
    border: 0;
    padding: 8px;
    position: relative;
    top: 2px;
  }

  .selectize-dropdown {
    [data-selectable] {
      padding: 5px;

      .name {
        margin: 5px 0 5px 35px;
      }
    }
  }
}

.new-project {
  float: left;
  position: relative;
  margin-bottom: 7px;
}

.open-all-notes {
  float: right;
}

.new-project-add,
.show-notes,
.open-all-notes-button {
  padding: 12px;
  width: 300px;
  top: 2px;
  cursor: pointer;
  line-height: 16px;
  text-align: center;
  border: 1px solid $brand-success;

  &:before {
    float: left;
  }

  p {
    margin: 0;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &.clicked {
    border: 1px solid $brand-success;
    color: $brand-success;
    background: white;

    &:hover {
      background: #eee;
    }
  }
}

.show-notes {
  float: right;
  width: 40px;
  top: 6px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.open-all-notes-button {
  position: relative;
  top: 2px;
  border-radius: 0px;
  border: 1px solid #428bca;
  border-top: 0px;
}

.project-notes-wrapper {
  min-height: 100px;
  clear: both;

  .project-note {
    width: 50%;
    float: left;
    padding: 2px 30px 2px 0px;
    position: relative;
    color: $black;
  }

  .note-img {
    float: left;
    margin: 2px;
  }

  .note-group {
    position: relative;
    height: 46px;
    width: auto;
    border: 1px solid $gray-light;
    border-radius: 4px;
    background: $white;
  }

  .note-remove, .note-close {
    position: absolute;
    right: 15px;
    top: 9px;
  }

  .note-close {
    top: 26px;
  }

  .new-project-note {
    clear: both;
  }

  .note-text {
    position: absolute;
    top: 0;
    left: 0;
  }

  .closed-note {
    background-color: rgba(62, 167, 53, 0.6);
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #3e7a39;
    font-size: 24px;
    overflow: hidden;
  }

  .hide-overflow {
    overflow: hidden;
  }

  .scroll-overflow {
    overflow: scroll;
  }
}

.new-project-form {
  padding: 7px 15px 15px 15px;
  width: 300px;
  left: 0;
  top: 44px;
  display: none;
  position: absolute;
  z-index: 100;
  background: $brand-success;
  border: 1px solid $brand-success;
  color: $white;

  .new-project-submit {
    float: right;
  }

  .new-project-close {
    float: left;
  }
}

#filters {
  .checkboxes {
    float: right;
    margin: 5px 0 0 0;

    .checkbox {
      display: inline-block;
      margin: 5px 0 0 20px;
    }
  }

  .filters {
    display: inline-block;
    vertical-align: middle;
  }

  .roles,
  .projects {
    display: inline-block;
    max-width: 360px;
    vertical-align: top;
  }

}

.selectize-control {
  &.multi {
    .selectize-input {
      &.has-items {
        padding: 6px 0 2px 6px;
      }
    }
  }

  .selectize-input {
    @include box-shadow(none);
    padding: 5px 10px 0 10px;
    margin-top: 2px;
    margin-bottom: 0px;
    min-width: 220px;
    min-height: 38px;
    border-radius: 2px;
    border-color: lighten($gray-light, 5%);

    input  {
      font-size: 14px;
      font-style: italic;
      vertical-align: sub;
    }
  }
}

.projects-types {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-light;

  li {
    display: inline-block;
    margin-bottom: -1px;

    & + li {
      margin-left: 30px;
    }
  }

  input[type='radio'] {
    display: none;

    &:checked ~ label {
      color: $brand-primary;
      border-bottom: 3px solid $brand-primary;
    }

    &:checked ~ label {
      .label-default {
        background-color: $brand-primary;
      }
    }
  }

  label {
    display: inline-block;
    padding: 15px 0;
    margin: 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
  }

  .label-default {
    padding: 1px 2px;
    border-radius: 2px;
    font-size: 12px;
    background-color: lighten($gray, 20%);
  }
}

#projects-users {
  float: left;
  clear: both;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 255px;
  margin-top: 10px;
  font-size: 0.9em;

  .project {
    margin: 5px 0;
    min-width: 100%;
    min-height: 54px;
    display: block;
    clear: both;
    background: $gray-project;

    .new-project-note {
      overflow: hidden;
    }

    &.left  {
      background: $left-time-red;
      color: $white;

      .project-name {
        border-bottom: 2px solid $left-time-red;

        a {
          position: relative;
          top: -5px;
          color: $white;
        }

        .info {
          position: relative;
          top: -5px;
          color: $white;

          &:hover {
            color: $gray-background;
          }
        }

        .time {
          margin: 0;
          font-weight: 100;
          text-align: center;
          letter-spacing: 1px;
          position: relative;
          top: -5px;
          left: -10px;
        }
      }
    }

    .memberships {
      float: left;
    }

    $project_height: 54px;
    $project_name_width: 160px;
    $project_cell_text_height: 15px;

    .project-name {
      height: $project_height;
      font-weight: bold;
      border-right: 1px solid $gray-lighter;
      border-bottom: 2px solid $gray-lighter;
      text-align: center;

      .project-avatar {
        height: $project_height;
        width: $project_height;
        float: left;
        line-height: $project_height;

        span.avatar-initials {
          color: $white;
          text-align: center;
          padding: auto;
          font-size: 2em;
        }
      }

      .actual {
        height: inherit;
        width: $project_name_width;
        word-wrap: break-word;
        position: relative;
        line-height: $project_cell_text_height;
        display: inline-block;

        a {
          width: 100%;
          position: absolute;
          top: 50%;
          margin-right: 0%;
          left: 0%;
          transform: translate(0, -50%);
        }
      }

      .billable_ratio {
        float: right;
      }

      .archive {
        display: inline-block;
      }

      .unarchive {
        display: none;
      }

      .unarchive,
      .archive,
      .js-timeline-show,
      .js-timeline-hide {
        margin-left: 5px;
        font-size: 15px;
        line-height: 10px;
        color: #428bca;
        opacity: 0;

        &:hover {
          color: $gray;
          cursor: pointer;
        }
      }

      &:hover {
        .unarchive,
        .archive,
        .js-timeline-show,
        .js-timeline-hide  {
          opacity: 1;
          margin-top: 5px;
        }
      }
    }

    &.archived {
      .archive {
        display: none;
      }

      .unarchive {
        display: inline-block;
        color: $white;
      }

      .project-name {
        background: $archived-project;

        a {
          color: $white;
        }
      }
    }

    &.potential {
      .project-name {
        background: $potential-project;

        a {
          color: $white;
        }
      }

      .unarchive,
      .archive {
        display: none;
      }
    }

    &.internal {
      .project-name {
        background: #31acfc;

        a {
          color: $white;
        }
      }

      .unarchive,
      .archive {
        display: none;
      }
    }

    .membership,
    .new-membership {
      background: $white;
    }

    .membership {
      padding: 10px;
      margin: 8px 4px;
      display: inline-block;
      vertical-align: middle;
      position: relative;

      .remove {
        cursor: pointer;
      }

      .edit,
      .remove {
        opacity: 0;
      }

      .name,
      .remove,
      .edit {
        position: relative;
        z-index: 5;
      }

      .time {
        display: none;
        font-size: 12px;
      }

      &[class*='left-'],
      &[class*='start-'] {
        padding: 5px;
        margin: 4px;
        min-width: 150px;

        .role-indicator {
          display: none;
        }

        .time {
          display: block;
        }

        .remove {
          float: right;
        }

        .remove {
          margin-right: 3px;
        }
      }

      &.left-1,
      &.left-7,
      &.start-14,
      &.start-30 {
        a {
          color: $white;
        }
      }

      &.left-1 {
        background: $left-time-red;
        color: $white;
      }

      &.left-7 {
        background: lighten($left-time-red, 20);
        color: $white;
      }

      &.left-14 {
        background: lighten($left-time-red, 40);
      }

      &.left-30 {
        background: lighten($left-time-red, 55);
      }

      &.start-1 {
        background: lighten($start-time-green, 55);
      }

      &.start-7 {
        background: lighten($start-time-green, 40);
      }

      &.start-14 {
        background: lighten($start-time-green, 20);
        color: $white;
      }

      &.start-30 {
        background: $start-time-green;
        color: $white;
      }

      &.unstarted {
        .time {
          display: block;
        }
      }

      &:hover {
        .remove,
        .edit {
          opacity: 1;
        }
      }

    }

    .new-membership {
      color: $white;
    }

    .role-indicator {
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }
}
