body.dashboard {
  &.index {
    #main-container{
      width: 100%;
    }

    .editPopup {
      display: none;
    }
  }
}

.modal-dialog {
  position: absolute !important;
  left: 50%;
  margin-left: -300px;
  z-index: 1050;

  .form-group.date {
    display: inline-block;
    width: 45%;
  }

  .checkbox {
    text-align: left;

    label {
      text-align: left;
    }
  }
}


.open-all-notes {
  float: left;
}

.show-notes {
  padding: 12px;
  width: 300px;
  top: 2px;
  cursor: pointer;
  line-height: 16px;
  text-align: center;
  border: 1px solid $brand-success;

  &:before {
    float: left;
  }

  p {
    margin: 0;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &.clicked {
    border: 1px solid $brand-success;
    color: $brand-success;
    background: white;

    &:hover {
      background: #eee;
    }
  }
}

.show-notes {
  float: right;
  width: 40px;
  top: 2px;
  right: 3px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-notes-wrapper {
  min-height: 100px;
  clear: both;

  .project-note {
    width: 50%;
    float: left;
    padding: 2px 30px 2px 0px;
    position: relative;
    color: $black;
  }

  .note-img {
    float: left;
    margin: 2px;
  }

  .note-group {
    position: relative;
    height: 46px;
    width: auto;
    border: 1px solid $gray-light;
    border-radius: 4px;
    background: $white;
  }

  .note-remove, .note-close {
    position: absolute;
    right: 15px;
    top: 9px;
  }

  .note-close {
    top: 26px;
  }

  .new-project-note {
    clear: both;
  }

  .note-text {
    position: absolute;
    top: 0;
    left: 0;
  }

  .closed-note {
    background-color: rgba(62, 167, 53, 0.6);
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #3e7a39;
    font-size: 24px;
    overflow: hidden;
  }

  .hide-overflow {
    overflow: hidden;
  }

  .scroll-overflow {
    overflow: scroll;
  }
}

#filters {
  .checkboxes {
    float: right;
    margin: 5px 0 0 0;

    .checkbox {
      display: inline-block;
      margin: 5px 0 0 20px;
    }
  }

  .filters {
    display: inline-block;
    vertical-align: middle;
  }

  .filter {
    display: inline-block;
    max-width: 360px;
    vertical-align: top;
  }

}

.projects-types {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-light;

  li {
    display: inline-block;
    margin-bottom: -1px;

    & + li {
      margin-left: 30px;
    }
  }

  input[type='radio'] {
    display: none;

    &:checked ~ label {
      color: $brand-primary;
      border-bottom: 3px solid $brand-primary;
    }

    &:checked ~ label {
      .label-default {
        background-color: $brand-primary;
      }
    }
  }

  label {
    display: inline-block;
    padding: 15px 0;
    margin: 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
  }

  .label-default {
    padding: 1px 2px;
    border-radius: 2px;
    font-size: 12px;
    background-color: lighten($gray, 20%);
  }
}
