.filters-container {
  .selectize-control {
    max-width: 350px;
    vertical-align: top;
  }
  .selectize-input {
    min-width: 180px;
    min-height: 34px;
  }
}

.roles,
.projects {
  display: inline-block;
  vertical-align: top;
}

.projects-types {
  border-bottom: 1px solid $gray-lighter;
  margin: 0 0 15px 0;

  li {
    margin: 0 20px 0 0;

    label {
      padding: 10px 0;
      margin: 0;
      border-bottom: 3px solid #fff;
      transition: border 0.25s, color 0.25s;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;

      &:checked ~ label {
        color: $brand-primary;
        border-bottom: 3px solid $brand-primary;
      }
    }
  }
}
