.clearfix {
  float: left;
  width: 100%;
  clear: both;
}

body.projects {
  &.new {
    .project_potential > * { display: inline-block; }

    .project_potential {

      label.control-label {
        vertical-align: text-bottom;
        cursor: pointer;
      }

      label.checkbox {
        margin: 0 0 -4px 8px;
        cursor: pointer;
      }
    }

    #project_potential {
      float: none;
    }

  }
}

$project-height: 45px;

#projects-users {
  @extend .clearfix;
  padding-bottom: 255px;
  margin-top: 10px;
}

.project {
  @extend .clearfix;
  margin: 0 0 20px 0;

  .new-project-note {
    overflow: hidden;
  }

  &.left  {
    color: $white;

    .project-name {
      background: $left-time-red;
      border-color: $left-time-red;

      a,
      .info {
        color: $white;
      }
    }
  }

  &.archived {
    .archive {
      display: none;
    }

    .unarchive {
      display: inline-block;
      color: $white;
    }
  }

  &.potential,
  &.internal {
    .unarchive,
    .archive {
      display: none;
    }
  }
}

.project-name {
  position: relative;
  width: 100%;
  border: 1px solid $gray-light;
  @include transition(background-color 0.5s, border-color 0.5s);

  &:hover {
    .glyphicon {
      opacity: 1;
    }
  }

  .time {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    color: $gray;
  }

  .project-avatar {
    height: $project-height;
    width: $project-height;
    line-height: $project-height;
    margin: -1px;
    text-align: center;
    color: $white;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -1px;
  }

  .actual-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $project-height;
    line-height: ($project-height - 1);
    padding: 0 0 0 55px;
    font-size: 20px;
    font-weight: 300;

    a {
      display: inline-block;
      max-width: 75%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: darken($gray, 15%);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .action {
    display: inline-block;
    color: $gray;
    vertical-align: top;
  }

  .glyphicon {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  .billable_ratio {
    float: right;
  }
}

.project-details {
  @extend .clearfix;
  min-height: $project-height;
  margin-left: -(2 * $half-gutter-width + 1);
  border: 1px solid $gray-light;
}

.membership {
  display: inline-block;
  position: relative;
  height: 43px;
  margin: 0 10px 0;
  padding: 0 0 0 40px;
  vertical-align: middle;
  opacity: 1;
  @include transition(opacity 0.5s);

  &.unstarted {
    position: relative;
    opacity: 1;

    &.invisible {
      position: absolute;
      visibility: visible;
      opacity: 0;
    }

    .time-to {
      background: lighten($start-time-green, 20);
    }
  }

  .member-photo {
    position: absolute;
    top: 7px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #eee;
  }

  .member-details {
    width: 100%;
    overflow: hidden;
  }

  a {
    color: darken($gray, 10%);

    &:hover {
      text-decoration: none;
    }
  }

  .name {
    margin: 6px 0 -1px 0;
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
  }

  .icon {
    font-size: 11px;
  }

  .remove {
    cursor: pointer;
  }

  .edit,
  .remove {
    opacity: 0;
    @include transition(opacity 0.25s);
  }

  .remove,
  .edit {
    position: relative;
    z-index: 5;
  }

  .time-to,
  .role-indicator {
    padding: 1px 2px;
    margin-right: 5px;
    font-size: 11px;
    background: $gray;
    @include transition(background 1s);
  }

  &.left-1,
  &.left-7,
  &.left-14,
  &.left-30,
  &.start-1,
  &.start-7,
  &.start-14,
  &.start-30 {
    color: $white;
  }

  &.left-1 .time-to {
    background: $left-time-red;
  }

  &.left-7 .time-to {
    background: lighten($left-time-red, 20);
  }

  &.left-14 .time-to {
    background: lighten($left-time-red, 40);
  }

  &.left-30 .time-to {
    background: lighten($left-time-red, 55);
  }

  &.start-1 .time-to {
    background: lighten($start-time-green, 55);
  }

  &.start-7 .time-to {
    background: lighten($start-time-green, 40);
  }

  &.start-14 .time-to {
    background: lighten($start-time-green, 20);
  }

  &.start-30 .time-to {
    background: $start-time-green;
  }

  &:hover {
    .remove,
    .edit {
      opacity: 1;
    }
  }
}

.admin-section {
  position: absolute;
  top: 2px;
  left: -11px;
}

.billable {
  @extend .clearfix;
  padding: 0 0 0 160px;
  min-height: 43px;

  .memberships {
    min-height: 43px;
  }
}

.non-billable {
  @extend .clearfix;
  padding: 0 0 0 160px;

  .memberships {
    margin: 0 0 -1px 0;
    border-top: 1px solid $gray-light;
  }
}

.memberships {
  border-left: 1px solid $gray-light;
}

.js-memberships-region {
  @extend .clearfix;
}

.project-notes-wrapper {
  min-height: 0;
  padding: 15px;
}
