.teams-list {
  list-style: none;
  padding: 0;
}

.team {
  position: relative;
  min-height: 100px;
  margin: 0 0 30px 0;
  border: 1px solid lighten($gray-light, 5%);
  border-radius: 2px;

  header {
    margin: 0 0 15px 0;

    h3 {
      overflow: hidden;
      padding: 15px 95px 0 85px;
      margin: 0;
      line-height: 55px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  footer {
    position: relative;
    padding: 10px 15px;
    background-color: lighten($gray-light, 13%);
  }

  .admin-section {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .team-avatar {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 55px;
    height: 55px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: $white;
    background: $gray-lighter;
  }

  .devs-indicator {
    position: absolute;
    top: 28px;
    right: 15px;

    span {
      $size: 32px;
      display: inline-block;
      width: $size;
      height: $size;
      line-height: 27px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      border: 2px solid $gray-light;
      border-radius: $size;
      color: $gray-light;

      &.devs {
        border-color: $brand-primary;
        color: $brand-primary;
      }
    }
  }
}

.team-members {
  list-style: none;
  padding: 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  &.empty {
    min-height: 55px;

    li {
      &:hover {
        background-color: $white;
      }
    }
  }

  &.filled {
    border-top: 1px solid lighten($gray-light, 5%);
    border-bottom: 1px solid lighten($gray-light, 5%);
    background-color: lighten($gray-light, 13%);
  }

  li {
    @include transition(background-color 0.5s);
    position: relative;
    padding: 5px 15px;
    font-size: 13px;

    &:hover {
      //background-color: lighten($gray-light, 13%);

      .actions {
        @include transform(translateX(0));
        opacity: 1;
      }
    }
  }

  .actions {
    @include transform(translateX(20px));
    @include transition(transform 0.5s, opacity 0.5s);
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 19px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }

    .make-leader {
      @include transition(transform 0.5s, color 0.5s);
      font-size: 14px;

      &:hover {
        @include transform(rotate(144deg));
        color: $brand-primary;
      }
    }

    .remove {
      font-size: 19px;
      vertical-align: top;
    }
  }
}

.dummy {
  position: relative;

  .dummy-avatar {
    position: absolute;
    top: 0;
    left: -2px;
    width: 34px;
    height: 34px;
    border: 2px dashed $gray-light;
    border-radius: 30px;
  }

  .dummy-member {
    display: block;
    padding: 0 10px;
    margin: 5px 0 0 40px;
    height: 34px;
    line-height: 30px;
    font-style: italic;
    color: $gray-light;
    border: 2px dashed $gray-light;
  }
}

.label.billable {
  background-color: $brand-primary;
}
