body.vacations {
  &.index {
    .filters {
      margin: 30px auto;

      .selectize-input {
        min-width: 180px;
        min-height: 34px;
      }

      .starts_at, .ends_at, {
        width: 400px;
        display: inline-table;
      }
    }

    #main-container {
      width: 100%;
    }

    .button {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    table#vacations {
      a {
        text-decoration: none;
        i {
          color: black;
          &:hover { color: $gray-light; }
        }
      }
    }
  }
}
