#profile {
  padding: 10px 15px;
}

.lowercase {
  text-transform: lowercase;
}

.ui-dialog-titlebar.ui-widget-header {
  background-image: none;
  background-color: $brand-primary !important;
}

.ui-dialog input.new-name {
  width: 100%
}

.js-edit-team {
  margin: 0 10px;
}

.no-close .ui-dialog-titlebar-close {
  display: none !important;
}
