= t('.main_line',
  user: membership.user_name,
  project: membership.project_name,
  time_remaining: distance_of_time_in_words(Time.current, membership.starts_at))

%br
= link_to t('.link'), membership
